{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{%block content %}
<div class="col-lg-8">
    <div class="content-section inner">
        <form method="POST">{% csrf_token %}
            
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><strong>Update your blog:</strong></legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Update</button>
                <a class="btn btn-danger" href="{%url 'post-delete' object.slug%}">Delete</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}