{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{%block content %}
<div class="col-lg-8">
<div class="content-section">
    {% if request.user == user.user %}
    <a class="btn btn-outline-primary btnEditar" href="{%url 'update' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
    {% endif %}
    <div class="media">
        
        <img class="rounded-circle account-img" src="{{user.image.url}}">
        
        <div class="media-body">
            <h2 class="account-heading">{{user.user.username}}</h2>
            <p class="text-primary">{{user.user.email}}</p>
            <p class="text-secondary"><strong>Bio: </strong>{{user.bio}}</p>
            <p class="text-secondary"><strong>Joined: </strong>{{user.user.date_joined|date:"M d, Y"}}</p>
            
            {% if user.birthday %}
            <p class="text-secondary"><strong>Birthday: </strong>{{user.birthday|date:"M d, Y"}}</p>
            {% endif %}

            

        </div>
        
        


    </div>
</div>
    
{%for post in posts %}
       
{% include "blog/list-inline.html" with post=post truncate=True detail=False%}
  
{% endfor %}

{% if posts.has_next or posts.has_previous %}
<div class="pagination justify-content-center" style="text-align:center;">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page=1" class="btn btn-outline-primary">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}" class="btn btn-outline-primary">previous</a>
        {% endif %}

        

       
        {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}" class="btn btn-outline-primary">next</a>
            <a href="?page={{ posts.paginator.num_pages }}" class="btn btn-outline-primary">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endif %}

</div>



{% endblock content %}